{% extends "base.html" %}
{% load static %}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

</a>
<div class="container bg-pink">
        <div class="row row-content align-items-center">

            <div class="col-12 col-sm-6">

              <a href=" http://127.0.0.1:8000/consultancy/register/" class="btn btn-primary btn-lg btn-block">Register</a></div>


            <div class="col-12 col-sm-6 ">
                <a href=" http://127.0.0.1:8000/consultancy/search/" class="btn btn-primary btn-lg btn-block">Search</a></div>

        </div>
</div>
</body>
</html>
</html>
{%endblock%}